<div class="container-fluid">
  <h1 class="text-center">NBA Playoff</h1>
  <div class="row">
    <!--FIRST ROUND-->
    <div class="col-md-2">
      <div class="row matchup">
        <div class="col-md-12 middle-border">
         <span class="playoff-position">1 </span><img class="img-rounded img-team-logo" src="../assets/img/spurs.png"> SAS
        </div>
        <div class="col-md-12 middle-border text-center details">
          Tied 0 - 0
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">8 </span><img class="img-rounded img-team-logo" src="../assets/img/warriors.png"> GSW
        </div>
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">4 </span><img class="img-rounded img-team-logo" src="../assets/img/blazers.png"> POR
        </div>
        <div class="col-md-12 middle-border text-center details">
          Game 1 - POR Leads 1-0
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">5 </span><img class="img-rounded img-team-logo" src="../assets/img/76ers.png"> PHI
        </div>
      </div>

      <div class="conference-title-western text-center">
        WESTERN
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">3 </span><img class="img-rounded img-team-logo" src="../assets/img/clippers.png"> LAC
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">6 </span><img class="img-rounded img-team-logo" src="../assets/img/grizzlies.png"> MEM
        </div>
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">2 </span><img class="img-rounded img-team-logo" src="../assets/img/kings.png"> SAC
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">7 </span><img class="img-rounded img-team-logo" src="../assets/img/jazz.png"> UTA
        </div>
      </div>
    </div>
    <!--SEMI-FINALS-->
    <div class="col-md-2">
      <div class="row matchup semi-final-above">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">1 </span><img class="img-rounded img-team-logo" src="../assets/img/spurs.png"> SAS
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">4 </span><img class="img-rounded img-team-logo" src="../assets/img/blazers.png"> POR
        </div>
      </div>

      <div class="row matchup semi-final-bottom">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">6 </span><img class="img-rounded img-team-logo" src="../assets/img/grizzlies.png"> MEM
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">7 </span><img class="img-rounded img-team-logo" src="../assets/img/jazz.png"> UTA
        </div>
      </div>
    </div>
    <div class="col-md-4 thropy">

      <!--FINALS-->
      <div class="row">
          <div class="row matchup final-matchup">
            <div class="col-md-3">
              <span class="playoff-position">1 </span><img class="img-rounded img-team-logo center-block" src="../assets/img/spurs.png"> SAS
            </div>
            <div class="col-md-6 text-center serie-stats">
              1 - 0
            </div>
            <div class="col-md-3">
              <span class="playoff-position">3 </span><img class="img-rounded img-team-logo center-block" src="../assets/img/bulls.png"><span> CHI</span>
            </div>
          </div>
      </div>

      <!--CONFERENCE FINAL-->
      <div class="row">
        <div class="col-md-6">
          <div class="row matchup conference-final-matchup-western">
            <div class="col-md-12 middle-border">
              <span class="playoff-position">1 </span><img class="img-rounded img-team-logo" src="../assets/img/spurs.png"> SAS
            </div>
            <div class="col-md-12 middle-border text-center details">
              Details
            </div>
            <div class="col-md-12 middle-border">
              <span class="playoff-position">6 </span><img class="img-rounded img-team-logo" src="../assets/img/grizzlies.png"> MEM
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row matchup conference-final-matchup-eastern">
            <div class="col-md-12 middle-border">
              <span class="playoff-position">4 </span><img class="img-rounded img-team-logo" src="../assets/img/celtics.png"> BOS
            </div>
            <div class="col-md-12 middle-border text-center details">
              Details
            </div>
            <div class="col-md-12 middle-border">
              <span class="playoff-position">3 </span><img class="img-rounded img-team-logo" src="../assets/img/bulls.png"> CHI
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--SEMI-FINALS-->
    <div class="col-md-2">
      <div class="row matchup semi-final-above">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">8 </span><img class="img-rounded img-team-logo" src="../assets/img/bucks.png"> MIL
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">4 </span><img class="img-rounded img-team-logo" src="../assets/img/celtics.png"> BOS
        </div>
      </div>

      <div class="row matchup semi-final-bottom">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">3 </span><img class="img-rounded img-team-logo" src="../assets/img/bulls.png"> CHI
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">2 </span><img class="img-rounded img-team-logo" src="../assets/img/magic.png"> ORL
        </div>
      </div>
    </div>
    <!--FIRST ROUND-->
    <div class="col-md-2">
      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">1 </span><img class="img-rounded img-team-logo" src="../assets/img/cavaliers.png"> CLE
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">8 </span><img class="img-rounded img-team-logo" src="../assets/img/bucks.png"> MIL
        </div>
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">4 </span><img class="img-rounded img-team-logo" src="../assets/img/celtics.png"> CEL
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">5 </span><img class="img-rounded img-team-logo" src="../assets/img/heat.png"> MIA
        </div>
      </div>

      <div class="conference-title-eastern text-center">
        EASTERN
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">3 </span><img class="img-rounded img-team-logo" src="../assets/img/bulls.png"> CHI
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">6 </span><img class="img-rounded img-team-logo" src="../assets/img/hawks.png"> ATL
        </div>
      </div>

      <div class="row matchup">
        <div class="col-md-12 middle-border">
          <span class="playoff-position">2 </span><img class="img-rounded img-team-logo" src="../assets/img/magic.png"> ORL
        </div>
        <div class="col-md-12 middle-border text-center details">
          Details
        </div>
        <div class="col-md-12 middle-border">
          <span class="playoff-position">7 </span><img class="img-rounded img-team-logo" src="../assets/img/knicks.png"> NYK
        </div>
      </div>
    </div>
  </div>
</div>
